<app-header-component></app-header-component>
<app-banner-component></app-banner-component>
<div class="top-categories-heading">
  <h1>Top Categories</h1>
</div>

<mat-grid-list cols="5" rowHeight="2:2">
  <mat-grid-tile
    ><mat-card class="example-card" routerLink="/products">
      <img
        mat-card-image
        src="../../../assets/images/card1.png"
        alt="Photo of a Shiba Inu"
      />
      <span class="tooltiptext">Lipstick</span>
    </mat-card></mat-grid-tile
  >
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card2.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card3.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card4.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card5.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card6.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card7.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card8.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card9.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/images/card10.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
</mat-grid-list>

<div class="extra-info">
  <img src="../../../assets/images/info.png" alt="" />
</div>

<div class="featured-brands-heading">
  <h1>Featured Brands</h1>
</div>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile
    ><mat-card class="example2-card">
      <img
        mat-card-image
        src="../../../assets/images/card11.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example2-card">
      <img
        mat-card-image
        src="../../../assets/images/card12.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example2-card">
      <img
        mat-card-image
        src="../../../assets/images/card13.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example2-card">
      <img
        mat-card-image
        src="../../../assets/images/card14.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example2-card">
      <img
        mat-card-image
        src="../../../assets/images/card15.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example2-card">
      <img
        mat-card-image
        src="../../../assets/images/card16.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
</mat-grid-list>

<app-footer-component></app-footer-component>
