<app-header-component></app-header-component>
<app-banner-component></app-banner-component>

<div class="product-name">
  <h1>{{ title }}</h1>
</div>

<mat-grid-list cols="5" rowHeight="2:2">
  <div *ngIf="fair">
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick1.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick12.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick3.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick15.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick5.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick6.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick7.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick16.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick9.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick10.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick11.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick2.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick13.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick14.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick4.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick8.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick17.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick18.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick19.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/fair/lipstick20.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
  </div>
  <div *ngIf="mild">
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick1.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick2.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick3.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick4.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick5.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick6.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick7.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick8.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick9.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick10.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick11.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick12.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick13.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick14.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick15.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick16.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick17.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick18.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick19.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/mild/lipstick20.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
  </div>
  <div *ngIf="dark">
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick1.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick2.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick3.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick4.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick5.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick6.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick7.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick8.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick9.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick10.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick11.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick12.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick13.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick14.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick15.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick16.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick17.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick18.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick19.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
    <mat-grid-tile
      ><mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/lipstick/dark/lipstick20.png"
          alt="Photo of a Shiba Inu"
        /> </mat-card
      ><app-favorite-button></app-favorite-button
    ></mat-grid-tile>
  </div>
</mat-grid-list>
<app-footer-component></app-footer-component>
