.product-name {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  h1 {
    font-family: "Nova Cut", cursive;
    padding-top: 3rem;
    color: var(--brown);
  }
  
  .example-card {
    max-width: 180px;
    height: 100px;
  }
  .mat-grid-list {
    margin: 0 8%;
    margin-bottom: 0;
  }
  
  app-favorite-button {
    position: absolute;
    left: 70%;
    bottom: 10%;
    z-index: 3;
  }
  hr{
    width: 98.8vw;
    height: 2px;
    color: var(--dark);
  }
  
  