<app-header-component></app-header-component>
<app-banner-component></app-banner-component>

<div class="product-name">
  <h1>Lipsticks</h1>
</div>

<mat-grid-list cols="5" rowHeight="2:2">
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick1.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick22.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick3.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick4.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick5.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick6.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick7.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick8.jpg"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick9.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>

  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick10.jpg"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick11.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick12.jpg"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick13.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick14.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick15.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick16.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick17.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick18.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick19.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick20.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick21.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick22.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick23.jpg"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick24.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick25.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick26.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick27.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick28.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick29.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick30.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick31.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick32.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick33.jpeg"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick34.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick35.jpeg"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick36.png"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick2.jpg"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick11.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick16.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
  <mat-grid-tile
    ><mat-card class="example-card">
      <img
        mat-card-image
        src="../../../assets/Lips/lipstick19.webp"
        alt="Photo of a Shiba Inu"
      /> </mat-card
  ></mat-grid-tile>
</mat-grid-list>

<app-footer-component></app-footer-component>
